table {
    display: flex;
    justify-content: center;
    text-align: center;
    
}

th, td {
    border: 1px solid black;
}


 .tab{
    float:right;
    margin:50px;
    padding:30px;
    }

.tab input{
    display: block;
    margin-bottom:15px;
}

tr:hover{
    background-color:gray;
}