<div id="mainContainer">
    <div id="jumbotronDiv" class="jumbotron jumbotron-fluid">
      <h1 class="display-4">TRK Online Booking</h1>
      <p class="lead">
        This is an online booking system for TRK Party Rental. We currently provide services for different events such as fun days, weddings and sporting events by renting different equipment like tents,tables and chairs and rides.
      </p>
      <hr class="my-4">
      <p>Making your party dreams come true</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Schedule a rental</a>
      </p>
    </div>
  </div>  